<div>
    <h1>Muhammad Hanan Asghar</h1>
<p>Pythonist,Data Scientist</p>
<img src="https://assets.gitlab-static.net/uploads/-/system/user/avatar/6243411/avatar.png?width=90" alt="Hanan Here"/>
</div>

In [2]:
import requests
from bs4 import BeautifulSoup as Soup
from fake_useragent import UserAgent
ua = UserAgent()

In [36]:
html = requests.get("https://registration.domain.com/domains/search/tech.com?suggestions=100&aftermarket=true&propertyID=47",headers={"User-Agent":f"{ua.random}"}).json()

In [47]:
import pandas as pd

In [53]:
def DomainCom():
    search = input("Enter Domain: ")
    html = requests.get(f"https://registration.domain.com/domains/search/{str(search)}.com?suggestions=100&aftermarket=true&propertyID=47",headers={"User-Agent":f"{ua.random}"}).json()
    prod_tld = []
    prod_domain = []
    prod_price = []
    for i in range(len(html['suggestions'])):
        val = html['suggestions'][i]['domainInfo']
        prod_tld.append(val['tld'])
        prod_domain.append(val['domain'])
        prod_price.append("$"+val['price'])
    data = {
        "Domain Name":prod_domain,
        "Tld":prod_tld,
        "Price":prod_price
    }
    df = pd.DataFrame(data)
    df['Provider'] = "Domain.com"
    df.sort_values('Domain Name')
    return df

In [54]:
DomainCom()

Enter Domain:  beautiy

                  Domain Name  Tld    Price    Provider
0                    ylvi.net  net  $1088.0  Domain.com
1         beautifulvalley.com  com  $4888.0  Domain.com
2             amandacorey.com  com  $1588.0  Domain.com
3         beauticianstips.com  com   $488.0  Domain.com
4   beautificationproject.com  com  $2788.0  Domain.com
..                        ...  ...      ...         ...
95         beautifultalks.com  com   $488.0  Domain.com
96        beautifulspecks.com  com  $1088.0  Domain.com
97        beautifyinghome.com  com   $888.0  Domain.com
98         beautifulabode.com  com  $1488.0  Domain.com
99      beautifulpedicure.com  com   $588.0  Domain.com

[100 rows x 4 columns]